# 阿里云短信配置 (号码认证服务)
ALIBABA_CLOUD_ACCESS_KEY_ID=您的AccessKeyID
ALIBABA_CLOUD_ACCESS_KEY_SECRET=您的AccessKeySecret
SMS_SIGN_NAME=速通互联验证码
SMS_TEMPLATE_CODE=SMS_466440263
SMS_SCHEME_NAME=语文每日练

# 管理后台与权限
ADMIN_KEY=6688
VIP_PHONE=13800138000
VIP_CODE=666666

# 服务器配置
PORT=3005
